

<button (click)="changeDescription('EvWeek')">EvWeek Graph</button>
<button (click)="changeDescription('Tech')">Tech Graph</button>
<button (click)="changeDescription('Evsirebreed')">Evsirebreed Graph</button>
<button (click)="changeDescription('Brd')">Brd Graph</button>
<button (click)="changeDescription('Ageda')">Ageda Graph</button>
<button (click)="changeDescription('BredREas')">BredREas Graph</button>
<button (click)="changeDescription('Date')">Date Graph</button>
<button (click)="changeDescription('Pen')">Pen Graph</button>
<button (click)="changeDescription('ConcepRate')">ConcepRate Graph</button>
<button (click)="changeDescription('BarnNm')">BarnNm Graph</button>
<canvas id="canvas" >
    {{chart}}
  </canvas>