<!-- <button (click)="requestApi = 'EvWeek'">EvWeek Graph</button>
<button (click)="requestApi = 'Tech'">Tech Graph</button>
<button (click)="requestApi = 'Evsirebreed'">Evsirebreed Graph</button>
<button (click)="requestApi = 'Brd'">Brd Graph</button>
<button (click)="requestApi = 'Ageda'">Ageda Graph</button>
<button (click)="requestApi = 'BredREas'">BredREas Graph</button>
<button (click)="requestApi = 'Date'">Date Graph</button>
<button (click)="requestApi = 'Pen'">Pen Graph</button>
<button (click)="requestApi = 'ConcepRate'">ConcepRate Graph</button>
<button (click)="requestApi = 'BarnNm'">BarnNm Graph</button> -->
<app-graph style="width: 100%;"></app-graph>